/* ----------------- *\
        Global 
\* ----------------- */
* {
	box-sizing: border-box;
	position: relative;
}

/* image tag */
.img_container {
	width: 400px;
	height: 300px;
	border: 1px solid #000;
	overflow: hidden;
	img {
		width: 100%;
	}
}

/* background(cover) */
.bg_img {
	width: 400px;
	height: 300px;
	border: 1px solid #000;
	background-image: url(../img/potrait.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

@mixin logoSetting {
	display: inline-block;
	vertical-align: top;
	width: 120px;
	height: 48px;
	border: 1px solid #000;
}

$logoUrl: url(../img/logo.svg);
/* logo */
.logo {
	&1 {
		@include logoSetting();
		background-image: $logoUrl;
		background-repeat: no-repeat;
		background-size: contain;

		overflow: hidden;
		white-space: nowrap;
		text-indent: 100%;
	}

	&2 {
		@include logoSetting();
		img {
			width: 100%;
		}
	}
}

/* frame */
$portraitUrl: url(../img/potrait.jpg);
@function ratio($a,$b) {
	@return $b/$a * 100%;
}
.outter {
	width: 50%;
	/* border: 1px solid rgb(4, 0, 255); */
}
.fm_img_container {
	width: 100%;
	/* border: 5px solid #000; */
	&::before {
		content: '';
		display: block;
		width: 100%;
		padding-top: 75%;
		/* border: 5px solid rgb(51, 255, 0); */
	}
	.image {
		/* border: 1px solid rgb(255, 0, 0); */
		background-image: $portraitUrl;
		background-repeat: no-repeat;
		background-size: cover;

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&.ratio_1-1::before {
		padding-top: ratio(1, 1);
	}
	&.ratio_2-3::before {
		padding-top: ratio(2, 3);
	}
	&.ratio_16-9::before {
		padding-top: ratio(16, 9);
	}
}
